In [2]:
import pandas_datareader.data as dr

In [3]:
import datetime

In [4]:
start = datetime.datetime(2020, 2, 19)

In [5]:
end = datetime.datetime(2020, 3, 4)

In [7]:
gs = dr.DataReader("078930.KS", "yahoo", start, end)

In [8]:
gs

             High    Low   Open  Close  Volume  Adj Close
Date
2020-02-19  46100  45200  46050  45300   87714      45300
2020-02-20  45500  44900  45200  45150  124948      45150
2020-02-21  44650  43900  44650  43950  193560      43950
2020-02-24  43600  41500  43550  41600  229758      41600
2020-02-25  41750  40750  41100  41650  198750      41650
2020-02-26  42000  41050  41400  41950  252165      41950
2020-02-27  42000  41150  41500  41950  210228      41950
2020-02-28  41600  40950  41600  41250  294536      41250
2020-03-02  41500  40400  41100  40800  187080      40800
2020-03-03  41650  40450  41000  40750  215622      40750
2020-03-04  41100  40550  40750  40650  200295      40650
2020-03-05  41300  40500  40650  41300  254575      41300